img {
  max-height: 80vh;
  width: 100vw !important;
  object-fit: cover;
}

.middle-container {
  margin-top: 8rem;
}

.figure {
  margin-top: 8rem;
}

.card {
  height: 200px;
}

.navbar-brand {
  color: #183691;
}